.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  height: 100vh;
  position: relative; 
  overflow: hidden; 
  color: white;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


.level-indicator {
  text-align: center; 
  z-index: 1;
}

.results {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

button {
  background-color: rgb(66, 133, 244); /* Couleur des boutons */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.2s; /* Ajout d'animations */
}

button:hover {
  background-color: rgb(50, 112, 205); /* Couleur au survol */
  transform: scale(1.05); /* Zoom au survol */
}

.game-selection {
  text-align: center;
}

.colleague-game {
  color: white;
  padding: 20px;
}

.form-container {
  margin-bottom: 20px;
}

.form-group, .guess-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les champs */
}

label {
  display: flex;
  flex-direction: column; /* Aligner label et input */
}

label input {
  margin-top: 5px; /* Espacement entre le label et l'input */
  padding: 5px; /* Espacement interne pour l'input */
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50; /* Couleur verte */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Couleur verte plus foncée au survol */
}
